@charset "UTF-8";
/*CSS Document */

/* BASE COMMUNE */

.hidden_text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.clear::after {
	content:"";
	display:table;
        clear: both;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.page-width {
    width: 960px;
    margin: 0 auto;
}

/* FONTS */

@font-face{
	font-family: "Roboto-Condensed-Bold";
	src:url(fonts/RobotoCondensed-Bold.ttf);
}

@font-face{
	font-family: "Roboto-Condensed-Bold-Ita";
	src:url(fonts/RobotoCondensed-BoldItalic.ttf);
}

@font-face{
	font-family: "Roboto-Condensed-Ita";
	src:url(fonts/RobotoCondensed-Italic.ttf);
}

@font-face{
	font-family: "Roboto-Condensed-Light-Ita";
	src:url(fonts/RobotoCondensed-LightItalic.ttf);
}

@font-face{
	font-family: "Roboto-Condensed-Light";
	src:url(fonts/RobotoCondensed-Light.ttf);
}

@font-face{
	font-family: "Roboto-Condensed-Regular";
	src:url(fonts/RobotoCondensed-Regular.ttf);
}


@font-face{
	font-family: "Times-LT-Bol";
	src:url(fonts/TimesLTBol);
}

@font-face{
	font-family: "Times-LT-Bol-Ita";
	src:url(fonts/TimesLTBolIta);
}

@font-face{
	font-family: "Times-LT-Ita";
	src:url(fonts/TimesLTIta);
}

@font-face{
	font-family: "Times-LT-Rom";
	src:url(fonts/TimesLTRom);
}

@font-face{
	font-family: "Times-LT-Sem";
	src:url(fonts/TimesLTSem);
}

@font-face{
	font-family: "Times-LT-Sem-Ita";
	src:url(fonts/TimesLTSemIta);
}

/* replace */

@font-face{
	font-family: "Cabria";
	src:url(fonts/Cambria-Italic.ttf);
}


/* HEADER */

    /* nav */
    
.header_font {
    position: absolute;
    top: 0;
    left: 140px;
}
    
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}


    nav.nav_header {
    font-size: 0;
    margin: 2.5em;
    width: 960px;
    margin: 0 auto;
    padding-top: 17px;
    height: 70px;
    }
    
  
    
    
   nav.nav_header ul li {
    font-size: 0.750rem;
    display: inline-block;
    margin-right: 19px;
    text-align: center;
    vertical-align: middle;
}

nav.nav_header ul li a {
        color: black;
        text-decoration: none;
        font-family: Cabria;
        text-transform: uppercase;
        
    }
    
div.header_font h1 {
    width: 695px;
    margin: 0 auto;
    font-family: Cabria;
    font-size: 5em;
    text-align: center;
    color: rgba(0,0,0,.5);
    margin-top: 122px;
}

div.header_font p {
    width: 1000px;
    margin: 0 auto;
    font-family: Roboto-Condensed-Light;
    font-size: 1.3em;
    text-align: center;
    color: rgba(0,0,0);
    margin-top: 55px;
    
}


/* INDEX */

div.info_home h2 {
    width: 1030px;
    font-size: 5em;
    font-family: Roboto-Condensed-Light;
    color: #aae3f8;
    text-transform: uppercase;
}

div.info_home p {
    width: 810px;
    font-size: 1.125em;
    font-family: Roboto-Condensed-Light;
    color: black;
}

div.evenement_home {
    width: 800px;
    height: 500px;
    background: #aae3f8;
    float: right;
    margin-top: 90px;
    margin-bottom: 22px;
}

div.image_home {
    background: url(images/imageaccueil_event.png) no-repeat top left;
    width: 400px;
    height: 400px;
    background-size: cover;
    float: left;
    margin-left: -163px;
    margin-top: 51px;
}

.evenement_home article {
    color: #fff;
    float: left;
    margin-left: 95px;
    font-family: Roboto-Condensed-Regular;
}

.evenement_home article p {
    width: 200px;
    float: left;
}

div.evenement {
    margin-top: 22px;
}

p.date {
    float: left;
    margin-left: 107px;
    width: 128px!important;
    text-align: right;
}

a.more-event {
    clear: both;
    display: block;
    float: right;
    background: white;
    color: #aae3f8;
    padding: 11px;
    margin-right: 26px;
    text-transform: uppercase;
    font-size: .7em;
}

/* QUISUIJE.php */ 
 
div.imageheader { 
    background: url(images/header-quisuije.png) no-repeat; 
    height: 200px; 
    background-size: cover; 
    position: relative; 
} 
 
h1#quisuije { 
    font-family: Cabria; 
    text-transform: uppercase; 
    line-height: 200px;
    text-align: center; 
    color: white; 
    font-size: 3em; 
     
    margin-bottom: 200px; 
} 
 
section.prez { 
    width: 870px; 
    height: 516px; 
    background-color: #aae3f8; 

    margin-top: 100px;
} 


div h2#nom {
    color: white;
    font-size: 2em;
    margin-left: 260px;
    margin-top: -30px;
    line-height: 100px;
    font-style: italic;
}

article p#textequisuije {
       color: white;
       font-family: cabria;
       width: 500px;
       margin-left: 50px;
       line-height: 22px;
}

div.avatar {
    background: url(images/fillequisuije.png) no-repeat;
    height: 600px;
    width: 400px;
    background-size: cover;
    margin-top: -470px;
    margin-left: 660px;
}
section#observatoir {
    width: 500px;
    margin-left: 50px;
    margin-top: -60px;
}
section h2 {
    font-family: Roboto-Condensed-Regular;
    text-transform: uppercase;
    
}

p#ons {
    font-family: cabria;
}

a#more {
    height: 40px;
    width: 120px;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-family: Roboto-Condensed-Regular;
    float: right;
 
    background-color: #aae3f8; 
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

/* presentation.php */

div.imageheader2 { 
    background: url(images/header_prez.png) no-repeat; 
    height: 200px; 
    background-size: cover; 
    position: relative; 
}

img.taille {
    width: 300px;
    margin: 0 auto;
    
}

article#images {
    margin-left: 170px;
    margin-top: 100px;
}

section#bloc {
    width: 800px;
    height: 780px;
    background-color: #aae3f8;
    margin-top: -300px;
    margin-bottom: 100px;
}


h1#titreyoga {
    line-height: 650px;
    color: white;
     font-family: Roboto-Condensed-Regular;
     text-transform: uppercase;
     margin-left: 50px;
}

p#txtsophro {
    margin-top: -300px;
    width: 600px;
    margin-left: 50px;
    color: white;
    font-family: Cabria;
}


/* EVENEMENTS */
.imageheader-evenement{ 
    background: url(images/evenement-header.png) no-repeat; 
    height: 200px; 
    background-size: cover; 
    position: relative; 
} 

img#tailleevent {
    width: 300px;
    margin-left: 50px;
    margin-top: 200px;
}

section#blocevent {
    width: 1000px;
    height: 800px;
    background-color:#aae3f8;
    margin-top: -600px;
    margin-left: 200px;
    margin-bottom: 100px;   
    
}

a.suivant {
    height: 40px;
    width: 120px;
    text-align: center;
    margin-left: 300px;
    margin-top: 50px;
    text-transform: uppercase;
    font-family: Roboto-Condensed-Regular;
  
 
    background-color: #aae3f8; 
    color: white;
    text-decoration: none;
    display: block;
   
}

a.precedent {
    height: 40px;
    width: 120px;
    text-align: center;
   
    text-transform: uppercase;
    font-family: Roboto-Condensed-Regular;
   
 
    background-color: #aae3f8; 
    color: white;
    text-decoration: none;
    display: block;
  
}



/* FOOTER */


footer {
    clear: both;
    height: 158px;
    background: #aae3f8;
}

nav.footer {
    width: 960px;
    margin: 0 auto;
    padding-top: 71px;
}


nav.footer ul {
    float: left;
}

nav.footer ul:last-child {
    float: right;
}

nav.footer ul li {
    display: inline-block;
    font-size: 0.750rem;
    text-align: center;
    vertical-align: middle;
}

nav.footer ul li a {
        color: #fff;
        text-decoration: none;
        font-family: Cabria;
    }

nav.footer ul li a::after {
    content: " /";
}

a.fb {
    background: url(images/fb.png) no-repeat;
    height: 34px;
    width: 34px;
    background-size: cover;
    display: block;
}

a.google {
    background: url(images/gplus.png) no-repeat;
    height: 34px;
    width: 34px;
    background-size: cover;
    display: block;
}



/* contact */

div.imageheadercontact { 
    background: url(images/headercontact.png) no-repeat; 
    height: 200px; 
    background-size: cover; 
    position: relative; 
} 

h1#contact { 
    font-family: Cabria; 
    text-transform: uppercase; 
    line-height: 200px;
    text-align: center; 
    color: white; 
    font-size: 3em; 
    margin-bottom: 200px; 
} 

section.photocontact {
    width: 330px;
    height: 300px;
    margin-top: 100px;
    margin-left: 50px;
}

img.photocontact {
    width: 330px;
    height: 300px;
    margin-top: 100px;
    margin-left: 70px;
}

div#infocontact {
    width: 800px;
    height: 300px;
    background-color: #aae3f8;
    float: right;
    margin-top: 100px;
    margin-right: 60px;
}

h1.gauchetext {
    color: white;
    margin-left: 200px;
}

p.gauchetext {
    color: white;
    width: 200px;
    margin-left: 150px;
    text-align: center;
}

h3.gauchetext {
    text-transform: uppercase;
    color: white;
    margin-left: 170px;
}

div#prezsophro {
    margin-top: 50px;
}

p.droitetext {
    color: white;
    width: 200px;
    margin-top: -90px;
    margin-right: 150px;
    text-align: center;
    float: right;
}

section#sites {
    width: 500px;
    background-color: #aae3f8; 
    margin-left: 70px;
    height: 200px;
    margin-bottom: 100px;
}

h1#sitetitre {
    text-transform: uppercase;
    color: white;
    margin-left: 40px;
}

p#liens {
    color: white;
    margin-left: 140px;
    width: 400px;
    text-decoration: none;
    display: block;
    color: white;
}